a {
  text-decoration: none;
  color: var(--text-default);
}

[class*="text-person"] {
  color: var(--text-default);
  font-size: var(--text-size-title);
  font-weight: bold;
}

.person-cell {
  border-bottom: 1px solid var(--color-low-emphasis);
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.text-person-desc {
  color: rgba(0, 0, 0, 0.3);
  font-size: var(--text-size-desc);
  font-weight: normal;
}

.person-data {
  margin-right: auto;
}

.person-arrow {
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: right;
}
